@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --note-speed: 3s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
}

@keyframes notefall {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(calc(100vh - 100px));
  }
}

.note-falling {
  animation: notefall var(--note-speed) linear forwards;
}
